{% extends 'base.html' %}

{% block title %}Issues Management{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="content-header-left">
            <h2>Issues Management</h2>
            <p>All active and open issues in your arcade.</p>
        </div>
    </div>
    
    <section class="section-card">
        <h2>Current Issues</h2>
        <div class="table-responsive">
            <table class="issues-table">
                <thead>
                    <tr>
                        <th>Issue ID</th>
                        <th>Priority</th>
                        <th>Date Added</th>
                        <th>Last Update</th>
                        <th>Area</th>
                        <th>Equipment Name</th>
                        <th>Problem Description</th>
                        <th>Notes</th>
                        <th>Status</th>
                        <th>Target Date</th>
                        <th>Assigned Employee</th>
                        <th></th> 
                        </tr>
                </thead>
                    <tbody id="issuesTableBody">
                                    </tbody>
            </table>
        </div>
        <p id="noIssuesMessage" style="text-align: center; padding: 20px; display: none; color: var(--text-color-light);">No active issues found.</p>
    </section>

{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/components/issues_table_menu.css') }}">
<script type="module" src="{{ url_for('static', filename='js/modules/issueOptions.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/modules/issuesTable.js') }}"></script>